<%- include('header'); -%>
<body>
    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
        <h1><%= day %></h1>
    </div>
<div class="box">
    <% listItem.forEach((e)=>{ %>
        <div class="item">
    <input type="checkbox">
        <p><%=e%></p></div>
   <% }); %>

   <form action="/" method="post">
    <input name="todoEntry" type="text" placeholder="New item" autocomplete="off">
    <button type="submit" name="list" value=<%= listTitle %> >+</button>
</form>

</div>
</body>
<%- include('footer'); -%>